.sidebar {
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 94vh;
    width: 30vw;
    background: lightcoral;
    margin-top: 7vh;
    background-color: rgba(255, 255, 255, 0.95);
    border-right: 1px solid rgba(229, 231, 235, 0.8);
    transform: translateX(-100%);
    transition: all .3s ease-in;
    opacity: 0;
}
.show-sidebar {
    transform: translateX(0);
    opacity: 1;
}
.exit-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: transparent;
    background: transparent;
    cursor: pointer;
    font-size: 2rem;
}